/* Write CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  background-size: cover;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  }
}
.stopwatch_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}
@media screen and (min-width: 992px) {
  .stopwatch_container {
    align-items: flex-start;
    margin-left: 160px;
  }
}
.main_heading {
  font: normal normal 500 30px 'Roboto';
  color: #000000;
}
@media screen and (min-width: 992px) {
  .main_heading {
    font-size: 64px;
    /* margin-left: 50px; */
  }
}
.card_Container {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-radius: 10px;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px;
  background-color: #ffffff;
}
.timer_container {
  display: flex;
  align-items: center;
}
.timer_icon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.timer_para {
  font: normal normal 500 20px 'Roboto';
  color: #000000;
}
.timer_running {
  font: normal normal 600 38px 'Roboto';
  color: #000000;
}
.btn_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}
.start_btn {
  background-color: #1db05f;
}
.stop_btn {
  background-color: #ef0d36;
}
.reset_btn {
  background-color: #eaa800;
}

@media screen and (min-width: 768px) {
  button {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.start_btn {
  background-color: #1db05f;
  margin-right: 24px;
}

.stop_btn {
  background-color: #ef0d36;
  margin-right: 24px;
}

.reset_btn {
  background-color: #eaa800;
}
